<header class="header">
    <div class="header__content">
        <div class="header__container">
            <nav class="navbar">
                <a class="navbar__logo-link" href="#">
                    <div class="navbar__logo-box">
                        <div class="navbar__logo-icon"></div>
                        <span class="navbar__logo-text">ForkIO</span>
                    </div>
                </a>

                <ul class="navbar__menu">
                    <li class="navbar__item"><a class="navbar__link" href="#">Overview</a></li>
                    <li class="navbar__item"><a class="navbar__link" href="#">About Fork</a></li>
                    <li class="navbar__item"><a class="navbar__link" href="#">Buying Options</a></li>
                    <li class="navbar__item"><a class="navbar__link" href="#">Support</a></li>
                </ul>

                <button class="navbar__buy-now-button">Buy Now</button>

                <button class="burger navbar__toggle">
                    <span class="burger__line burger__line--top"></span>
                    <span class="burger__line burger__line--middle"></span>
                    <span class="burger__line burger__line--bottom"></span>
                </button>
            </nav>

            <div class="header__title">
                <h1 class="header__title-heading">Fork App</h1>
                <p class="header__title-slogan">A real gamechanger in the <span>world of web development</span></p>
                <p class="header__title-description">v. 2.8 For Mac and Windows</p>
            </div>
        </div>
		
        <div class="header__bottom">
            <button class="header__download-button">Download For Free Now</button>
            <p class="header__trial-period">Unlimited 30-Days Trial Period</p>
        </div>
    </div>
</header>
