.header {
    position: relative;
    height: 100vh;

    &__content {
        height: calc(100% - 69px);
        background-image: url('@img/header/bg-header.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include mobile {
            background-position: center bottom -50px;
            height: calc(100% - 53px);
        }
    }

    &__container {
        height: 100%;
        position: relative;
    }

    &__title {
        position: absolute;
        width: 100%;
        text-align: center;
        margin-top: 83px;
        left: 50%;
        transform: translateX(-50%);

        @include medium {
            margin-top: 189px;
        }

        @include mobile {
            margin-top: 153px;
        }
    }

    &__title-heading {
        color: $color-secondary;
        font-weight: 700;
        font-size: 82px;
        line-height: 82px;

        @include medium {
            font-size: 72px;
            line-height: 72px;
        }

        @include mobile {
            font-size: 48px;
            line-height: 48px;
        }
    }

    &__title-slogan {
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        line-height: 30px;
        margin-top: 19px;
        color: $color-primary;
        padding: 0 15px;

        & span {
            white-space: nowrap;
        }

        @include medium {
            font-size: 24px;
            line-height: 24px;
        }

        @include mobile {
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            line-height: 24px;
            text-transform: capitalize;
        }
    }

    &__title-description {
        font-size: 16px;
        line-height: 16px;
        margin-top: 19px;
        color: $color-text-description;
        text-transform: uppercase;

        @include medium {
            font-size: 14px;
            line-height: 14px;
        }

        @include mobile {
            margin-top: 14px;
        }
    }

    &__bottom {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 103px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mobile {
            height: 80px;
        }
    }

    &__download-button {
        position: relative;
        width: 390px;
        height: 62px;
        border-radius: 40px;
        border: 2px solid $color-primary;
        cursor: pointer;
        background-color: $color-primary;
        color: $color-secondary;
        font-weight: 700;
        font-size: 21px;
        line-height: 22px;
        transition: all 0.25s ease;

        &:hover {
            background-color: $color-secondary;
            color: $color-primary;
        }

        @include mobile {
            width: 290px;
            height: 45px;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
        }
    }

    &__trial-period {
        font-size: 14px;
        line-height: 15px;
        color: $color-text-description;
        margin-top: 19px;
        margin-bottom: 5.5px;
		
        @include medium {
            line-height: 16px;
        }

        @include mobile {
            line-height: 14px;
            margin-top: 12.5px;
        }
    }
}

.navbar {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 530px 145px;
    grid-template-rows: 1fr;
    align-items: center;

    @include medium {
        position: absolute;
        right: 0;
        left: 0;
        height: 118px;
        background-color: $bgcolor-navbar;
        padding: 22px 20px 0;
        grid-template-columns: 160px 1fr 145px;
        grid-template-rows: repeat(2, 1fr);
    }

    @include mobile {
        position: absolute;
        right: 0;
        left: 0;
        height: 103px;
        background-color: $bgcolor-navbar;
        padding: 0 15px;
        grid-template-columns: 70px 1fr 70px;
        grid-template-rows: 1fr;
    }

    &__logo-link {
        width: 160px;
        grid-row: span 2;

        @include medium {
            grid-row: span 1;
        }
    }

    &__logo-box {
        display: flex;
        align-items: center;
        gap: 17px;
        transition: all 0.25s ease;

		&:hover {
			.navbar__logo-icon {
				background-image: url('@img/header/logo-hover.png');
			}
			.navbar__logo-text {
				color: $color-secondary;
			}
		}
    }

    &__logo-icon {
        width: 43px;
        height: 41px;
        background-image: url('@img/header/logo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.25s;
    }

    &__logo-text {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: $color-primary;
        padding-top: 12px;
        text-transform: uppercase;
        transition: all 0.25s ease;

        @include mobile {
            display: none;
        }
    }

    &__menu {
        width: 100%;
        padding-right: 38px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include medium {
            padding-right: 0;
            grid-row: 2;
            grid-column: span 3;
            justify-self: center;
            justify-content: center;
            gap: 48px;
        }

        @media screen and (min-width: 480px) and (max-width: 560px) {
            gap: 0;
            justify-content: space-between;
            width: 100%;
        }

        @include mobile {
            flex-direction: column;
            padding: 0 15px;
            width: 100vw;
            position: absolute;
            justify-content: start;
            align-items: start;
            top: 103px;
            overflow: clip;
            transform: translateX(-110%);
            transition: transform 0.25s ease;
        }
    }

    &__item {
        position: relative;
        display: inline-block;
        color: $color-primary;
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        transition: all 0.25s ease;

        &:hover {
            color: $color-secondary;
        }

        &::before,
        &::after {
            content: '';
            width: 8px;
            height: 0;
            background-color: $color-primary;
            position: absolute;
            left: 3px;
            transition: height 0.25s;
        }

        &::before {
            bottom: 41px;
        }

        &::after {
            top: 46px;
        }

        @include mobile {
            width: calc(100vw - 30px);
            margin-right: auto;
            position: relative;
            color: $color-secondary;
            font-weight: 400;
            font-size: 26px;
            line-height: 26px;
            background-color: $bgcolor-drop-menu;
            padding: 33px 0 28px 36px;
            border-bottom: 3px solid $bordercolor-drop-menu;
            z-index: 1;

            &:hover {
                color: $color-primary;

                &:before,
                &:after {
                    height: 26px;
                }
            }
        }
    }

    &__link {
        color: inherit;
    }

    &__toggle {
        width: 26px;
        height: 23px;
        display: none;
        padding: 0;
        border: 0;

        @include mobile {
            grid-row: 1;
            grid-column: 3;
            position: relative;
            left: 44px;
            display: block;
        }
    }

    .burger {
        background-color: transparent;
        border-color: transparent;
        cursor: pointer;

        &__line {
            display: block;
            width: 26px;
            height: 3px;
            background-color: $color-secondary;
            border-radius: 2px;
            overflow: hidden;
            transition: all 0.25s ease;

            &--top {
                margin-left: 11px;
                width: 15px;
            }

            &--middle {
                margin-top: 6px;
            }

            &--bottom {
                margin-top: 6px;
            }
        }
    }

    &__buy-now-button {
        position: relative;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;
        border-radius: 40px;
        border: 1px solid $color-primary;
        cursor: pointer;
        background-color: $color-primary;
        width: 145px;
        height: 38px;
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        color: $color-secondary;
        transition: all 0.25s ease;

        &:hover {
            background-color: $color-secondary;
            color: $color-primary;
        }

        @include medium {
            grid-column: 3;
        }

        @include mobile {
            width: 119px;
            height: 37px;
            left: 9px;
            grid-row: 1 / span 2;
            grid-column: 2;
            justify-self: center;
            font-size: 15px;
            line-height: 15px;
        }
    }
}

.open {
    .burger {
        &__line {
            width: 32px;
            height: 2px;

            &--middle {
                width: 0;
            }

            &--top {
                margin-left: 0px;
                transform: rotate(45deg) translate(4.5px, 7px);
            }

            &--bottom {
                transform: rotate(-45deg) translate(4.5px, -7px);
            }
        }
    }

    .navbar {
        &__menu {
            transform: translateX(0);
            z-index: 1;
        }
    }
}
