.testimonials {
    min-height: 100vh;
    background-color: #4b3b4e;
    background-image: url('@img/testmonials/bg-testmonials.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    &__container {
        padding-top: 108px;
        padding-bottom: 50px;
        text-align: center;
    }

    &__title {
        color: $color-secondary;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;

        @include medium {
            font-size: 42px;
            line-height: 44px;
        }

        @include mobile {
            font-size: 36px;
            line-height: 48px;
        }
    }

    &__content {
        padding: 82px 0px 115px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 108px 40px;

        @media screen and (min-width: 480px) and (max-width: 1070px) {
            justify-content: space-around;
        }

        @include medium {
            padding: 82px 10px 60px;
			gap: 60px 40px;
            justify-content: space-around;
        }

        @include mobile {
            padding: 53px 5px 29px;
			gap: 45px 40px;
            justify-content: space-around;
        }
    }

    &__item {
        max-width: 322px;
        min-height: 136px;
        text-align: center;
    }

    &__img {
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        color: $color-secondary;
        font-family: 'Lato', sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        @include mobile {
            padding: 0 10px;
        }
    }

    &__description {
		position: relative;
		margin: 0 auto;
		max-width: 887px;
        color: #a291a5;
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        line-height: 21px;

		@include medium {
			padding: 0 20px;
		}

		@include mobile {
			padding: 0 25px;
		}

		&::after {
			position: absolute;
			content: "";
			bottom: -19px;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			max-width: 780px;
			height: 2px;
			background-color: #645766;

			@include medium {
				max-width: 555px;
			}

			@media screen and (min-width: 480px) and (max-width: 675px) {
				max-width: 400px;
			}
	

			@include mobile {
				bottom: -22px;
				max-width: 245px;
			}
		}
    }
}
