@mixin mobile {
    @media screen and (min-width: 320px) and (max-width: 480px) {
        @content;
    }
    @media screen and (max-width: 319px) {
        @content;
        overflow: hidden;
    }
}

@mixin medium {
    @media screen and (min-width: 481px) and (max-width: 992px) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: 993px) and (max-width: 1200px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1201px) {
        @content;
    }
}
