@import 'base/base';
@import 'utilities/utilities';

body {
	min-height: 100%;
	min-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #FFFFFF;
    overflow-x: hidden;
    user-select: none;
}

[class*='__container'] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

@import 'components/components';